title = "Результаты поиска"
url = "/search"
layout = "noSidebar"
is_hidden = 0

[blogTagSearch]
==

<div class="row">
    <div class="col-md-12">
        <form class="form-inline" method="get" action="/search">
            <div class="input-group mb-3 search-page-input-block">
                <input type="text" name="search" class="form-control" placeholder="#головнаяболь #тошнота #кровьизноса"
                       aria-label="Recipient's username"
                       aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-md btn-primary m-0 px-3 py-2 z-depth-0 waves-effect" type="submit"
                            id="button-addon2">Найти
                    </button>
                </div>
            </div>
        </form>
        {% if blogTagSearch.posts %}
                {% for post in blogTagSearch.posts %}
                    {% if post.type == 'doctor' %}
                        {% partial 'doctor/list-item' post=post %}
                    {% else %}
                        {% partial 'clinic/list-item' post=post %}
                    {% endif %}
                {% endfor %}
        {% else %}
            Ничего не найдено
        {% endif %}
    </div>
</div>
