{% macro rating(value, stars = 5) %}
<span class="stars" style="color: rgb(243, 156, 18);">
    {% for star in 1..stars %}
    <i class="{% if star > value %}far {% else %}fas {% endif %}fa-star" aria-hidden="true"></i>
    {% endfor %}
</span>
{% endmacro %}

{% import _self as macros %}
<div class="comments">
    <ul>
        {% for review in post.reviews %}
        <li>
            <div class="comment" id="comment-{{post.id}}">
                <div class="comment-avatar">
                    {{post.avatar|raw}}
                </div>
                <div class="comment-content">
                    <div class="comment-header">
                        <span class="comment-name">{{review.user.email}}</span>
                        <a class="comment-date" href="#comment-{{post.id}}">
                            {{review.created_at.diffForHumans}}
                        </a>
                    </div>
                    <div>{{review.content|raw}}</div>
                    <div>{{ macros.rating(review.rating) }}</div>
                </div>
                <div class="clearfix"></div>
            </div>
            <hr>
        </li>
        {% endfor %}
    </ul>
</div>
{% if user %}
<div id="wrap-comment-form" class="text-center" style="width: 100%;">
    <div id="rating-block">
        <h2>{{ mainMessage }}</h2>
        <span class="detailed-rating" id="rate-{{ post.slug }}"></span>
    </div>
    <div id="comment-form" style="display: none;">
        <h2>Оставьте свой комментарий</h2>
        <form>
            <div id="comment_flash_message"></div>
            <!-- Content Field -->
            <div class="form-group">
                <textarea placeholder="Напишите комментарий ..." class="form-control" id="comment-text" name="content"
                          cols="50" rows="10"></textarea>
            </div>

            <!-- Submit Field -->
            <div class="form-group text-left">
                <button type="submit" class="btn btn-primary" onclick="Comment.saveButton(event)">Отправить</button>
            </div>
        </form>
    </div>
</div>
{% endif %}
<script>
    var rating = 0;
    $(document).ready(function () {
        $('#rate-{{ post.slug }}').starRating({
            useFullStars: true,
            starSize: 60,
            callback: function(currentRating, $el){
                rating = currentRating;
                $('#comment-form').show()
                $('#rating-block').hide()
            }
        });
    })
    let Comment = function () {
        let self = {
            parent_id: null,
            commentName: '#comment-form',
            cancelName: '#cancel-comment-reply-link',
            commentWrapName: '#wrap-comment-form',
            messageName: '#comment_flash_message',
        };
        return {

            replay: function (event, id) {
                event.preventDefault();
                self.parent_id = id;
                this.clearMessage();
                $('#comment-' + self.parent_id).find('.comment-content').append($(self.commentName));
                $(self.cancelName).show()
            },

            saveButton: function (event) {
                event.preventDefault();
                console.log(rating)
                $(self.commentName + ' form').request('onSaveReviewButton', {
                    data: {
                        rating: rating,
                        post_id: '{{ post.id }}',
                        content: $('#comment-text').val()
                    },
                    success: function (data) {
                        if (data.model.content) {
                            $.oc.flashMsg({text: 'Ваш отзыв учтен', 'class': 'success', 'interval': 2});
                            window.location.reload()
                        }
                    }
                });
            },
        }
    }();
</script>