description = "Footer"

[viewBag]
==
{% partial 'footer/4-column' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js" integrity="sha256-MAgcygDRahs+F/Nk5Vz387whB4kSK9NXlDN3w58LLq0=" crossorigin="anonymous"></script>
<script src="{{ [
        'assets/js/popper.js',
        'assets/js/bootstrap.min.js',
        'assets/js/mdb.min.js',
        'assets/js/addons/rating.min.js',
        'assets/js/addons/jquery.star-rating-svg.js',
        'assets/lightGallery/js/lightgallery-all.js',
        'assets/lightGallery/modules/lg-thumbnail.js',
    ]|theme }}"></script>

<script>
    new WOW().init();
    $("#lightgallery").lightGallery({
        thumbnail:true
    });
</script>

</body>
</html>