description = "Scrolling Nav with Dropdown"

[viewBag]

[staticMenu]
code = "mainmenu"

[categoryMenu]
code = "mainmenu"
categoryPage = "clinics_list"
==
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">LOGO</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link"
                   href="/clinic/categories">Клиники</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="/clinic/type/doctor">Врачи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="/clinic/type/pharmacy">Аптеки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="/clinic/type/laboratory">Лаборатории</a>
            </li>
        </ul>
    </div>
    <!-- Collapsible content -->
    <ul class="navbar-nav ml-auto nav-flex-icons">
        {% if user %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default"
                     aria-labelledby="navbarDropdownMenuLink-333">
                    <a data-request="onLogout" data-request-data="redirect: '/'">Выйти</a>
                </div>
            </li>
        {% else %}
            <a href="/signin" class="btn btn-primary btn-sm">Войти</a>
            <a href="/register" class="btn btn-primary btn-sm">Зарегистрироваться</a>
        {% endif %}

    </ul>
</nav>
