description = "List of doctors"

[viewBag]
==
{% for post in posts %}
    <div class="row mt-5 wow fadeIn list-item" data-wow-delay="0.2s">
        <!--Featured image-->
        {% set image = post.featured_images.first %}
        <div class="col-lg-4">
            <div class="view overlay hm-white-light z-depth-1 rounded">
                <img data-src="{{ image.filename }}" src="{{ image.path }}" class="img-fluid"
                     alt="{{ image.description }}">
                <a href="{{ post.url }}">
                    <div class="mask"></div>
                </a>
            </div>
        </div>
        <!--/.Featured image-->

        <!--Post excerpt-->
        <div class="col-lg-5 no-padding-right">
            <a href="{{ post.url }}">
                <h2 class="post-title font-bold">{{ post.title }}</h2>
            </a>
            <h6 class="dark-grey-text font-bold font-small">{{ post.published_at|date('M d, Y') }}</h6>
            <p class="my-4 dark-grey-text">{{ post.summary|raw }}</p>
            <div class="read-more">
                <a href="{{ post.url }}" class="btn btn-primary btn-md">Read more</a>
            </div>
            <span id="rateMe1"></span>
        </div>

        <div class="col-lg-2 no-padding">
            <div class="list-group list-group-flush" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                   role="tab" aria-controls="home">Понедельник</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                   role="tab" aria-controls="profile">Вторник</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                   role="tab" aria-controls="messages">Среда</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
                   role="tab" aria-controls="settings">Четверг</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
                   role="tab" aria-controls="settings">Пятница</a>
            </div>
        </div>
        <!--/.Post excerpt-->
    </div>
{% endfor %}