description = "List of doctors"

[viewBag]
==
<div class="row mt-5 wow fadeIn post-item card card-vertical" data-wow-delay="0.2s">
    <!--Featured image-->
    {% set image = post.featured_images.first %}
    <div class="col-lg-4">
        <div class="row">
            <div class="view overlay hm-white-light z-depth-1 rounded">
                <img data-src="{{ image.filename }}" src="{{ image.path }}" class="img-fluid"
                     alt="{{ image.description }}">
                <a href="{{ post.url }}">
                    <div class="mask"></div>
                </a>
            </div>
        </div>
        <div class="row register-doctor-button">
            {% if user %}
                <button class="btn btn-primary" data-toggle="modal" data-target="#modalRegisterForm-{{ post.id }}">Записаться</button>
            {% else %}
                <a class="btn btn-primary" href="/signin">Записаться</a>
            {% endif %}
        </div>

    </div>
    <!--/.Featured image-->

    <!--Post excerpt-->
    <div class="col-lg-8">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-4">
                <a href="{{ post.url }}">
                    <h2 class="post-title font-bold">{{ post.title }}</h2>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 item-list-rating">
                <span id="rate-{{ post.slug }}"></span>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                $('#rate-{{ post.slug }}').starRating({
                    useFullStars: true,
                    readOnly: true,
                    starSize: 20,
                });
            })
        </script>

        <div class="additional">
            <h6><span><i class="fas fa-map-marker-alt"></i></span> &nbsp;&nbsp;{{ post.address }}</h6>
            <h6><span><i class="fas fa-user-md"></i></span> &nbsp;&nbsp;{% for specialization in post.specializations %}{{ specialization.name }}, {% endfor %}</h6>
            <h6><span><i class="fas fa-money-bill-alt"></i></span> &nbsp;&nbsp; {{ post.price|number_format(2, '.', ',') }} сом</h6>
            <h6><span><i class="fas fa-calendar-alt"></i></span> &nbsp;&nbsp;{{ post.openingHours.isOpen() ? "<span class='open'>Открыто сейчас</span>" : "<span class='closed'>Закрыто</span>" }}</h6>
        </div>

        <p class="my-4 dark-grey-text">{{ post.summary|raw }}</p>
        <span id="rateMe1"></span>
    </div>

    <!--/.Post excerpt-->
</div>