/* Your custom styles */
/* Navigation*/
body {
    font-family: "PT Sans", sans-serif;
    overflow-x: hidden;
}
.navbar {
    background-color: transparent;
    font-weight: 400;
}
.main-navbar a {
    color: #fff ;
}
.clinic-category-button {
    width: 100%;
}
.card {
    font-weight: 300;
}
.card__label__text {
    font-weight: 700;
    font-size: 14px;
    color: #5e6e71;
    margin-bottom: 6px;
    display: block;
}
.benefits__title {
    font-size: 12px;
    line-height: 14px;
}

.benefits__title_item {
    font-size: 13px;
    line-height: 14px;
}

.benefits__title span {
    font-size: 13px;
    color: #4285F4;
}

.small-card {
    min-height: 85px;
    padding: 15px 150px 17px 20px;
}
.cl-0 .small-card__line {
    background:#94d177;
}

.small-card__title {

    display: inline-block;
    margin-top: -4px;

}

.small-card__gtext {

    color:

            #5e6e71;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 7px;

}

.card__location__wrapper {

    display: box;
    display: flex;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;

}

.clinic-info {
    border-left: 5px solid #4285F4;
    margin-bottom: 20px;
}

.small-card__abs {
    height: 100%;
    width: 145px;
    position: absolute;
    top: 0;
    right: 20px;
    padding-left: 28px;
    padding-top: 14px;
}

.card__address__text, .card__location__text, .card__metro__text, .small-card__address__text, .small-card__location__text, .small-card__metro__text {
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
    line-height: 13px;
    font-size: 12px;
    color: #5e6e71;
    margin: 1px 3px 8px;
}

.search-page-input-block {
    width: 100% !important;
}

.search-page-input-block::placeholder {
    color: #5e6e71;
}

.nav-blue {
    background-color: #2b3b68;
}

.post-item .open {
    color: green;
}

.post-item .closed {
    color: red;
}

.card-vertical {
    flex-direction: row;
    padding: 10px 0;
}
.item-list-rating {
    display: flex;
    align-items: center;
    justify-content: right;
}

.detailed-card {
    margin-bottom: 20px;
}

.detailed-card .card-body {
    padding: 0;
}

.detailed-rating {
    padding: 10px;
    margin: 0 auto;
}

.register-clinic-button {
    padding: 0 10px;
}

.register-clinic-button button, .register-clinic-button a {
    width: 100%;
}

.register-doctor-button {
    padding: 0 10px;
    margin: 20px 0;
}

.register-doctor-button button {
    width: 100%;
}

.register-doctor-button button, .register-doctor-button a {
    width: 100%;
}

.tab-content {
    padding: 10px;
}

.post-title {
    margin-bottom: 20px;
}

.additional span {

    color: lightgray;
}

.additional-info-row {
    align-items: center;
}

.details-divider {
    margin: 0;
    padding: 0 !important;
}
.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.navbar .btn-group .dropdown-menu a:hover {
    color: #000 !important;
}
.navbar .btn-group .dropdown-menu a:active {
    color: #fff !important;
}
.top-nav-collapse {
    background-color: #2b3b68;
}

.view {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.no-padding {
    padding: 0;
}

.no-padding-right {
    padding-right: 0;
}

.list-item {
    display: flex;
    align-items: center;
}

.list-group-item.active {
    background: #4285F4;
    color: #fff !important;
}

footer.page-footer {
    background-color: #2b3b68;
    margin-top: -1px;
}

footer.page-footer .footer-copyright {
    line-height: normal; }

/*Call to action*/
.flex-center {
    color: #fff;
}
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #2b3b68;
    }

}

@media only screen and (max-width: 768px) {
    .display-3 {
        font-size: 3rem;
        margin-top: 4rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    .item-list-rating {
        display: flex;
        align-items: center;
        justify-content: left;
        margin-bottom: 20px;
    }
}
