description = "Basic Landing Page"

[staticPage]
useContent = 0
default = 0

[blogTagSearch]
tag="головная"

[ArticleList]

[session]
==
<?php
function onStart()
{
    $this->addCss('assets/css/basicLandingPage.css');
}
?>
==
{% partial 'site/head' %}
{% partial 'site/scrollingNavbar' %}

{variable name="tagline" label="Заголовок" tab="Intro" type="text"}{/variable}
{variable name="bgColor" label="Цвет заднего фона" tab="Intro" type="colorpicker"}{/variable}
{variable name="TagsList" label="Список тегов" tab="Intro" type="text"}{/variable}
<!--Intro Section-->
<section class="intro-1 hm-black-slight" style="">
    <div class="row" style="background: {{ bgColor }}">
        <div class="container d-flex justify-content-between flex-md-column main-container">
            <h3 class="mt-4 mb-5 wow fadeInDown text-center">{{ tagline }}</h3>
            <form class="form-inline" method="get" action="/search">
                <div class="input-group mb-3 search-box">
                    <input type="text" name="search" class="form-control" placeholder="{{ TagsList }}"
                           aria-label="Recipient's username"
                           aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-md btn-primary m-0 px-3 py-2 z-depth-0 waves-effect" type="submit"
                                id="button-addon2">Найти
                        </button>
                    </div>
                </div>
            </form>
            <p class="mt-4 mb-5 wow fadeInDown text-left">{{ TagsList }}</p>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="specialties">
                <div class="row">
                    {% for specialization in blogTagSearch.specializations %}
                        <div class="col-md-3"><a href="/doctors?specializationFilter={{ specialization.slug }}">{{ specialization.name }}</a></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Main container-->
<div class="container">

    {variable name="section1Title" label="Title" tab="Section One" type="text"}{/variable}
    {variable name="section1Text" label="Content" tab="Section One" type="richeditor"}{/variable}
    <div class="divider-new pt-5">
        <h2 class="h2-responsive indigo-text mx-4 font-bold wow fadeIn" data-wow-delay="0.2s">
            <strong>{{ section1Title }}</strong>
        </h2>
    </div>
    <!--Section: About-->
    <section id="about" class="text-center wow fadeIn" data-wow-delay="0.2s">
        {{ section1Text|raw }}
    </section>
    <!--Section: About-->

    {variable name="section2Title" label="Title" tab="Section Two" type="text"}{/variable}
    <div class="divider-new pt-5">
        <h2 class="h2-responsive indigo-text mx-4 font-bold wow fadeIn">{{ section2Title }}</h2>
    </div>

    <!--Section: Best features-->
    <section id="best-features">

        <div class="row pt-3 justify-content-center text-center">
            {repeater tab="Section Two" name="Cards" prompt="Add another Card"}
            {variable name="cardImg" label="Card Image" type="mediafinder" mode="image"}{/variable}
            {variable name="cardTitle" label="Title" type="text"}{/variable}
            {variable name="cardText" label="Card Text" type="text"}{/variable}
            {variable name="cardURL" label="URL" type="text"}{/variable}
            <div class="col-lg-4 mb-r">
                {% if fields.cardURL != '' %}<a href="{{ fields.cardURL }}">{% endif %}
                    <!--Card-->
                    <div class="card hoverable wow fadeIn">

                        <!--Card image-->
                        <img class="img-fluid"
                             src="{% if fields.cardImg == '' %}https://mdbootstrap.com/img/Photos/Others/images/72.jpg{% else %}{{ fields.cardImg|media }}{% endif %}"
                             alt="Card image cap" style="object-fit: contain">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title text-center advantage-title">{{ fields.cardTitle }}</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text advantage-text">{{ fields.cardText }}</p>
                        </div>

                    </div>
                    <!--/.Card-->
                    {% if fields.cardURL != '' %}</a>{% endif %}
            </div>
            {/repeater}
        </div>

    </section>
    <!--/Section: Best features-->

    {% set firstArticle = ArticleList.make().sort('publish|desc').published().first() %}

    {% if firstArticle %}
        <div class="divider-new pt-5">
            <h2 class="h2-responsive indigo-text mx-4 font-bold wow fadeIn">Новости</h2>
        </div>

        <!--Section: Best features-->
        <section id="news">
            <div class="row">
                <div class="col-md-8">
                    <div class="article-block">
                        <a href="/article/{{ firstArticle.slug }}">
                            <div style="background-image: url({{ firstArticle.preview_image.path }})"
                                 class="article-block__img"></div>
                            <div class="article-block__title">
                                <a href="/article/{{ firstArticle.slug }}">{{ firstArticle.title }}</a>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    {% set obArticleList = ArticleList.make().sort('publish|desc').published() %}
                    {% if obArticleList.isNotEmpty() %}
                    <ul>
                        {% for obArticle in obArticleList %}
                        <li class="blog-list__item first-child">
                            <div class="blog-list__lt">
                                <div style="background-image: url({{ obArticle.preview_image.path }})"
                                     class="blog-list__img"></div>
                            </div>
                            <div class="blog-list__rt">
                                <div class="blog-list__text">
                                    <a class="blog-list__link js-blog-link js-truncate"
                                       href="/article/{{ obArticle.slug }}">{{ obArticle.title }}</a></div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>

                    {% endif %}

                </div>
            </div>
        </section>
    {% endif %}


    {variable name="section3Title" label="Title" tab="Section Three" type="text"}{/variable}
    {variable name="section3Text" label="Intro Text" tab="Section Three" type="richeditor"}{/variable}
    <div class="divider-new pt-3">
        <h2 class="h2-responsive indigo-text mx-4 font-bold wow fadeIn">{{ section3Title }}</h2>
    </div>

    <!--Section: Features v.1-->
    <section class="section feature-box text-center">

        <!--Section description-->
        <div class="section-description lead grey-text mb-5 mx-lg-5">{{ section3Text|raw }}</div>

        <!--Grid row-->
        <div class="row text-center">
            {variable name="box1Icon" label="Box1 Icon class" tab="Section Three" type="text"}{/variable}
            {variable name="box1Title" label="Box1 Title" tab="Section Three" type="text"}{/variable}
            {variable name="box1Text" label="Box1 Text" tab="Section Three" type="text"}{/variable}
            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <i class="{{ box1Icon }}"></i>
                <h5 class="font-bold mt-3">{{ box1Title }}</h5>
                <p class="grey-text">{{ box1Text }}</p>
            </div>
            <!--Grid column-->

            {variable name="box2Icon" label="Box2 Icon class" tab="Section Three" type="text"}{/variable}
            {variable name="box2Title" label="Box2 Title" tab="Section Three" type="text"}{/variable}
            {variable name="box2Text" label="Box2 Text" tab="Section Three" type="text"}{/variable}
            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <i class="{{ box2Icon }}"></i>
                <h5 class="font-bold mt-3">{{ box2Title }}</h5>
                <p class="grey-text">{{ box2Text }}</p>
            </div>
            <!--Grid column-->

            {variable name="box3Icon" label="Box3 Icon class" tab="Section Three" type="text"}{/variable}
            {variable name="box3Title" label="Box3 Title" tab="Section Three" type="text"}{/variable}
            {variable name="box3Text" label="Box3 Text" tab="Section Three" type="text"}{/variable}
            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <i class="{{ box3Icon }}"></i>
                <h5 class="font-bold mt-3">{{ box3Title }}</h5>
                <p class="grey-text">{{ box3Text }}</p>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
    <!--Section: Features v.1-->

</div>
<!--/ Main container-->

{% partial 'site/footer' %}
