description = "Детальная страница лаборатории"

[viewBag]

==
{% set image = post.featured_images.first %}
<div class="container">
    <!--row-->
    <div class="row wow fadeIn" data-wow-delay="0.2s">
        <div class="card-vertical detailed-card">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="view overlay hm-white-light z-depth-1">
                                <img src="{{ image.path }}" class="img-fluid" alt="{{ image.description }}">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h3 class="mt-2 pb-1">
                                {{ post.title }}
                            </h3>
                            <p class="card__label__text">
                                <strong>{% for category in post.categories %}{{ category.name }}; {% endfor %}</strong>
                            </p>
                            {% if post.full_price %}
                                <div class="row benefits__title">
                                    <div class="col-md-1 col-xs-1">
                                        <span><i class="fas fa-money-bill-alt"></i></span>
                                    </div>
                                    <div class="col-md-11 col-xs-11" style="padding: 0;">
                                        {% for price in post.full_price %}
                                            {{ price.name }} - {{ price.price|number_format(2, '.', ',') }} сом <br>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            <p>{{ post.excerpt }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="tab"
                                       aria-controls="about"
                                       aria-selected="true">Описание</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                       aria-controls="profile"
                                       aria-selected="false">Отзывы</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="doctors-tab" data-toggle="tab" href="#doctors" role="tab"
                                       aria-controls="doctors"
                                       aria-selected="false">Список врачей</a>
                                </li>
                                {% if(post.featured_images|length > 2) %}
                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                           aria-controls="contact"
                                           aria-selected="false">Галерея</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                                    {{ post.content_html|raw }}
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="row">
                                        {% partial 'commentForm' post=post mainMessage="Поставьте оценку данной клинке" %}
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="doctors" role="tabpanel" aria-labelledby="doctors-tab">
                                    <div class="row">
                                        {% for doctor in post.children %}
                                            {% partial 'doctor/list-item' post=doctor %}
                                        {% endfor %}
                                    </div>
                                </div>
                                {% if(post.featured_images|length > 2) %}
                                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                        <div id="lightgallery">
                                            {% for image in post.featured_images %}
                                                <a href="{{ image.path }}">
                                                    <img src="{{ image.path }}" height="150px"/>
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <span class="stars detailed-rating" style="color: #03a9f4;">
                            {% for star in 1..5 %}
                                <i class="{% if star > post.avg_rating %}far {% else %}fas {% endif %}fa-star" aria-hidden="true"></i>
                            {% endfor %}
                        </span>
                    </div>
                    <div class="row">
                        {% set trans = {
                            'monday': 'Понедельник',
                            'tuesday': 'Вторник',
                            'wednesday': 'Среда',
                            'thursday': 'Четверг',
                            'friday': 'Пятница',
                            'saturday': 'Суббота',
                            'sunday': 'Воскресенье',
                        } %}
                        {% for day, hours in post.openingHours.forWeek() %}
                            <a class="list-group-item list-group-item-action {{ post.openingHours.isOpenOn(day) ? '' : 'disabled' }}"
                               id="list-home-list" data-toggle="list" data-day="{{ day }}" style="padding: 5px"
                               role="tab" aria-controls="home" onclick="Modal.open(event, {{ post.openingHours.isOpenOn(day) ? 1 : 0 }})">

                                <div class="row">
                                    <div class="col-md-6">
                                        {{ trans[day] }}:
                                    </div>

                                    <div class="col-md-6">
                                        {% for range in hours %}
                                            <time itemprop="opens" datetime="{{ range.start }}">{{ range.start }}</time>
                                            -
                                            <time itemprop="closes"
                                                  datetime="{{ range.end }}">{{ range.end }}</time>{% if not loop.last %}, {% endif %}
                                        {% else %}
                                            закрыто
                                        {% endfor %}
                                    </div>
                                </div>

                                {% if hours.getData() %}
                                    ({{ hours.getData() }})
                                {% endif %}
                            </a>
                        {% endfor %}
                    </div>
                    <div class="row">
                        {% component 'shares' %}
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
</div>
<script>
    var Modal = function () {
        return {
            open: function (event, isOpen) {
                {% if user %}
                    if(isOpen) {
                        $('#modalRegisterForm').modal('show');
                    } else {
                        $.oc.flashMsg({text: 'К сожалению в этот день врач не работает', 'class': 'error', 'interval': 2}); return false;
                    }
                {% else %}
                    $.oc.flashMsg({text: 'Пожалуйста войдите на сайт для записи к врачу', 'class': 'error', 'interval': 2}); return false;
                {% endif %}
            },
        }
    }();
</script>